* {
    /* margin: 0; */
    box-sizing: border-box;
}
body {
    height: 100vh;

    display: grid;
    justify-content: center;
    align-items:stretch;
    
    /* padding: .25rem; */
    background-image: url(../assets/img/2308303.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.calculator {
    display: grid;
    grid-template-areas: "display" "body";
    grid-template-rows:  .75fr auto;

    background: linear-gradient(244.38deg, #272727 8.14%, #222222 27.9%, #1f1f1f 56.94%, #161616 84.11%);
    border-radius: 30px;

    overflow:hidden;
    text-overflow: ellipsis;

    border: 5px solid #2A7DA1;
}

.display {
    grid-area: display;
    
    display: grid;
    align-items: flex-end;
    text-align: end; 
    overflow:hidden;
    text-overflow: ellipsis;

    padding: 2rem;

    color: #FBFBFB;
}
.registry, .result {
    overflow: hidden;
    text-overflow: ellipsis;
}
.body {
    grid-area: body;

    display: grid;
    grid-template-areas: "functions ." "numbers operators";
    grid-template-columns: 1.7fr .3fr;
    grid-template-rows: .3fr 1.7fr ;

    padding: 2rem;

    background: linear-gradient(30deg, #42869B 8.14%, #2A7DA1 27.9%, #224E91 56.94%, #001853 84.11%);
    border-radius: 30px;
}

.functions {
    grid-area: functions;

    display: flex;
    justify-content: space-around;
    align-items: center;

}
.functions div, .operators {
    padding: .5rem;

    background: rgba(5, 5, 5, 0.3);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    border-radius: 30px;

}
.function, .operator {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3.5rem;
    width: 4rem;

    border-radius: 12px;
    background: rgba(5, 5, 5, 0.11);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), -1px -1px 3px rgba(51, 51, 51, 0.25), inset -1px -1px 3px rgba(49, 49, 49, 0.25);

    color: rgb(58, 58, 255);
}

.operators {
    grid-area: operators;

    display: grid;
    justify-content: center;
    align-items: center;
}

.numbers {
    grid-area: numbers;
   
    display: grid;
    align-items: center;
}

.numbers-lines {

    display: flex;
    justify-content: space-around;
}

.number {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 3.5rem;
    width: 4rem;

    background: rgba(5, 5, 5, 0.103);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), -1px -1px 3px rgba(51, 51, 51, 0.25), inset -1px -1px 3px rgba(49, 49, 49, 0.25);
    border-radius: 30px;

    color: #FBFBFB;
}

.number, .operator, .function{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
}
.registry {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;

    color: rgba(251, 251, 251, 0.5);
}
.result {
    font-family: 'Poppins', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FBFBFB;
}
.imp-div {
    font-size: 1.5rem;
    color: rgb(255, 77, 77);
}
.red {
    color: rgb(255, 77, 77);
}

.green {
    color: rgb(32, 255, 32);
}

.blue {
    color: rgb(58, 58, 255);
}

.orange {
    color: rgb(255, 189, 67);
}
.hidden {
    visibility: hidden;
}

@media (min-width: 0) { 
    body {
        justify-content: initial;
        margin: 0;
    }
 }

@media (min-width: 576px) { 
    body {
        justify-content: center;
    }
    .calculator {
        width: 25rem;
    }
 }

/* @media (min-width: 768px) { } */
/* @media (min-width: 992px) { } */